
.dropdown-item divider{font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-color: brown;}

.custom-navbar .nav-link {
    color: white; /* Set the text color to white */
  }