#logo {
  width: 10px;
  height: 10px;
  border-radius: 1%;
  display: flex;
  justify-content:right;
  align-items: left;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* this is logo
 */