#main-title{
    text-align: center;
    background-color: black;
    color:beige;
    padding :20px;
    letter-spacing: 2px;
    font-weight: 50px;


} 
.box1 h2{
    float:left;
}
.box1 button{
    float:right;
}
.container{
    margin-top:50px ;
}